.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.header .title {
    font-weight: 500;
    color: var(--title-color);
    font-size: 2.4rem;
}

.small .title  {
    font-size: 1.8rem;
}