.login__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__form {
    padding: 177px 130px 33px 95px;
    width: 1200px;
    border-radius: 10px;

    .form__wrap {
        display: flex;
        gap: 10rem;
        justify-content: space-around;
    }

    .login__form-img {
        width: 500px;
        transition: ease-in-out 0.3s;

        &:hover {
            transform:  scale(1.1);
        }
    }

    .form__right {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 3rem;
            color: #333;
            line-height: 1.2;
            width: 100%;
            padding-bottom: 24px;
            text-align: center;
        }

        .form__forgot {
            padding-top: 12px;
            font-size: 1.3rem;
            color: var(--text-color);

            a {
                cursor: pointer;
                text-decoration: none;
                color: #333;
                transition: var(--transition);
            }

            a:hover {
                color: var(--color-success);
            }
        }

        .form__contact {
            margin-top: 136px;
            cursor: pointer;
            font-size: 13px;

            a {
                text-decoration: none;
                color: #5266CC;
            }

            a:hover {
                opacity: 0.7;
            }
        }
    }
}