@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

//102644

:root {
    --primary-color: #000;
    --primary-color-100: #1e3448;
    --success-color: #339901;
    --secondary-color: #3977CE;
    --text-color: #717171;
    --background-color: #f5f5f7;
    --white-color: white;
    --hover-color: rgb(64, 64, 64);

    --transition: all 0.45 ease;
    --tran-02: all 0.2 ease;
    --tran-03: all 0.3 ease;
    --tran-04: all 0.4 ease;
    --tran-05: all 0.5 ease;
}

html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-image: #e0e0e0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #bebebe;
    border-radius: 10px;
}

img,
button {
    -webkit-user-select: none;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    margin: 0;
}
