.wrap {
    background-color: var(--white-color);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    padding: 30px;
    border: 1px solid #ccc;
    word-wrap: break-word;
}
